$primary: #fc5c7d;
$primary-light: #ff90ac;
$primary-dark: #c42251;
$secondary: #6a82fb;
$secondary-light: #a1b1ff;
$secondary-dark: #2a56c7;
$oxford: #011936;
$oxford-light: #2f3f60;
$oxford-dark: #000011;
$title-color: #49515f;
$text-color: #49515f;
$default-background: #f2f3f8;